@charset "UTF-8";

#ad_slider {
  	border:0;
  	position: relative; 
}

#ad_slider div {
	padding:20px;
	padding-top:6px;
}

#ad_slider img {
	width:500px;
	height:500px;
	box-shadow: 5px 5px 10px 1px darkgray; 
}

#ad_slider button {
	position: absolute;	
	z-index: 10;
	top: 40%;
	transform: translateY(-20%);
	width: 71px;
	height: 71px;
	border:none;
	border-radius:100%;
	background: rgba(0,0,0,.3); 
}

#ad_slider button:before {
	font-family:'xeicon';
	color:#fff;
	font-size:36px;
}  

#ad_slider button.slick-prev { 
	left:0;
	font-size:0;
	color:transparent; 
}

#ad_slider button.slick-prev:before {
	content:"\e93d"; 
}

#ad_slider button.slick-next { 
	right:0;
	font-size:0;
	color:transparent; 
}

#ad_slider button.slick-next:before {
	content:"\e940";
}