@charset "UTF-8"; 
* {
	margin: 0; 
	padding: 0;
	list-style:none;
} 

html, body {
	width:100%;
	height:100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.container {
	flex: 1;
}

.wrapper {
	display: block;
	position: relative;
	width: 1200px;
	margin: auto;
}

.outer_content, .inner_content  {
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner_content {
	width: 94%;
	margin: 2%;
	flex-direction: column;
	position: relative;
}

input {
	outline: none;
	border-style: none;
	font-size: 12px;
}

a {
	text-decoration: none;
	color:#666;
}

a:hover {
	color:#1bc1a3;
}

.full_width {
	border: 1px solid lightgray;
	border-left-style: none;
	border-right-style: none;
}

.right {
	justify-content: flex-start;
}

.left {
	justify-content: flex-end;
}

