<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE mapper
	     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	     "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	     
<mapper namespace="com.leafcom.web.dao.AdminDAO">

	<resultMap id="memberVO" type="com.leafcom.web.vo.MemberVO" >
		<id property="id" column="me_id"/>
		<result property="email" column="me_email"/>
		<result property="pw" column="me_pw"/>
		<result property="name" column="me_name"/>
		<result property="mobile" column="me_mobile"/>
		<result property="regDate" column="me_regdate"/>
		<result property="condition" column="me_condition"/>
		<result property="key" column="me_key"/>
		<result property="enabled" column="me_enabled"/>
		<result property="authority" column="me_authority"/>
	</resultMap>
	
	<resultMap id="ItemVO" type="com.leafcom.web.vo.ItemVO" >
		<id property="itemId" column="it_id"/>
		<result property="categoryId" column="cg_id"/>
		<result property="categoryName" column="cg_name"/>
		<result property="itemName" column="it_name"/>
		<result property="company" column="it_company"/>
		<result property="smallImg" column="it_smallImg"/>
		<result property="largeImg" column="it_condition"/>
		<result property="detailImg" column="it_key"/>
		<result property="regDate" column="it_regDate"/>
		<result property="info" column="it_info"/>
		<result property="stock" column="it_stock"/>
		<result property="cost" column="it_cost"/>
		<result property="price" column="it_price"/>
		<result property="grade" column="it_grade"/>
	</resultMap>

	<resultMap id="CartVO" type="com.leafcom.web.vo.CartVO">
		<id property="caId" column="ca_id"/>
		<result property="meId" column="me_id"/>
		<result property="itId" column="it_id"/>
		<result property="amount" column="ca_amount"/>
		<result property="regDate" column="ca_regdate"/>
		<result property="condition" column="ca_condition"/>
	</resultMap>

	<resultMap id="OrderVO" type="com.leafcom.web.vo.AddressVO">
		<id property="odId" column="od_id"/>
		<result property="meId" column="me_id"/>
		<result property="itId" column="it_id"/>
		<result property="adId" column="ad_id"/>
		<result property="quantity" column="od_quantity"/>
		<result property="regDate" column="od_regdate"/>
		<result property="condition" column="od_condition"/>
	</resultMap>	
	
	<select id="getItemCnt" parameterType="int" resultType="int">
		SELECT COUNT(*) cnt FROM item
		<if test="categoryId!=0">
			WHERE cg_id = #{categoryId}
		</if>
	</select>
	
	<select id="getCategoryName" resultType="java.util.Map">
		SELECT cg_id categoryId, cg_name categoryName 
		  FROM categories
	</select>
	
	
	
</mapper>    